# Python & Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environments & Config
.env
.venv/
venv/
env/

# Data & Output
output/
tmp/
*.srt
*.vtt

# Audio Files
*.mp3
*.wav
*.m4a
*.flac
*.aac

# Models & Weights
models/
*-ct2/
checkpoint-*/

# OS specifics
.DS_Store
Thumbs.db